@font-face {
    font-family: "Sintony-Regular";
    font-style: normal;
    font-weight: normal;
    src: local('Sintony-Regular'),
    url(fonts/Sintony-Regular.woff2) format('woff2');
}
@font-face {
    font-family: "Sintony-Bold";
    font-style: normal;
    font-weight: bold;
    src: local('Sintony-Bold'),
    url(fonts/Sintony-Bold.woff2) format('woff2');
}
@font-face {
    font-family: "PlayfairDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    src: local('PlayfairDisplay-Regular'),
    url(fonts/PlayfairDisplay-Regular.woff2) format('woff2');
}
