@import "variables";
@mixin text($color, $font, $size, $weight, $text-transform) {
    color: $color;
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    text-transform: $text-transform;
}

@mixin title($color, $font, $size, $weight) {
    color: $color;
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
}

@mixin label {
    position: absolute;
    top: 23px;
    right: 23px;
}
@mixin label-left {
    position: absolute;
    top: 23px;
    left: 0;
}

@mixin aside-title {
    color: #14141d;
    font-family: $PD;
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
